.footer-container {
  width: 100%;
  background-size: cover;
  font-family: Steppe;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.footer-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 125px;
}
.footer-logo {
  width: 70px;
  height: 70px;
  cursor: pointer;
  text-align: center;
  margin-top: 10px;
}
.footer-logo img {
  width: 100%;
  height: 100%;
}
.footer-info-adress-container {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 15px;
}
.footer-info-adress {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-info-adress h1,
.footer-info-adress h2,
.footer-info-contacts h1,
.footer-info-contacts h2,
.footer-info-work-schedule-container h1,
.footer-info-work-schedule-container h2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20.7px;
  color: #484848;
}
.footer-info-map {
  color: #484848;
  font-weight: 400;
  font-size: 15px;
  line-height: 20.7px;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: Auto;
  cursor: pointer;
}
.footer-info-map:hover {
  color: #ae88ad;
}
.footer-info-socials a {
  color: #484848;
  width: 100%;
  height: 100%;
  transform: scale(1.5);
  transition: all 0.2s;
}
.footer-info-socials a:hover {
  color: #ae88ad;
  transform: scale(1.6);
}
.footer-info-contacts-container {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 60px;
  padding-right: 100px;
}
.footer-info-contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-info-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-bottom: 3px;
}

.footer-tg {
  width: auto;
  height: 22px;
  cursor: pointer;
}
.footer-inst {
  width: auto;
  height: 20px;
  cursor: pointer;
}
.footer-info-work-schedule-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  padding-right: 50px;
}
@media (max-width: 768px) {
  .footer-container {
    padding: 0;
    padding-bottom: 20px;
  }
  .footer-info {
    flex-direction: column;
    padding: 0 20px;
    gap: 30px;
  }
  .footer-info-adress {
    gap: 5px;
  }
  .footer-info-contacts {
    gap: 5px;
  }
  .footer-info-contacts-container {
    padding: 0;
    gap: 30px;
  }
}
