.for-schoolchildren-container{
    width: 100%;
    position: relative;
    background-image: url('/assets/background/backBanner.png');
    background-size: cover;
    padding-top: 60px;
}
.folders-content-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 20px; */
}