.for-schoolchildren-container{
    width: 100%;
    position: relative;
    background-image: url('/assets/background/backBanner.png');
    background-size: cover;
    padding-top: 60px;
}
.folders-content-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    clip-path: ellipse(195% 100% at center bottom);
    padding-top: 60px;
}
@media (max-width: 768px) {
    .folders-content-container{
        padding-top: 0;
        clip-path: ellipse(455% 100% at center bottom);
    }
}