.conversation-clubs-container {
  width: 100%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  padding-bottom: 100px;
  font-family: "Unbounded", sans-serif;
}

.conversation-clubs-title {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  color: #484848;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.conversation-clubs-options {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.club-card {
  width: 260px;
  border: 2px solid #ae88ad;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.club-title {
  font-size: 18px;
  font-weight: 500;
  color: #484848;
  /* margin-bottom: 15px; */
  text-align: center;
}

.club-online {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 8px 0 0 0;
  border-top: 2px solid #484848;
  /* border-bottom: 1px solid #e5e5e5; */
  font-size: 14px;
  color: #484848;
}

.club-duration {
  padding: 10px 0;
  font-size: 14px;
  color: #484848;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.club-price {
  font-size: 14px;
  font-weight: 500;
  color: #484848;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.club-button {
  width: 100%;
  height: 36px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  background: transparent;
  cursor: pointer;
  margin-top: 10px;
  color: #484848;
  font-family: "Unbounded", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 0.2s ease;
  background-color: #ae88ad;
  color: #ffffff;
}
.club-button-arrow {
  width: 20px;
  height: 20px;
}
.club-card-icon {
  width: 20px;
  height: 20px;
}

@media (max-width: 768px) {
  .conversation-clubs-container {
    /* width: 100%; */
    padding: 40px 20px;
  }

  .club-card {
    width: 100%;
    /* max-width: 280px; */
  }
}
