.expanded-folder-content-container {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  height: auto;
  margin: 40px 0;
}
.expanded-folder-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px 105px;
  height: auto;
}
.expanded-folder-content-title {
  text-align: center;
  font-family: Unbounded;
  font-weight: 800;
  font-size: 33px;
  line-height: 43px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #484848;
}
.expanded-folder-content-title span {
  color: #ffffff;
}
.lower-part-text-item {
  display: flex;
  gap: 6px;
  padding: 2px 0;
  font-family: Steppe;
  font-weight: 600;
  font-size: 15px;
  line-height: 20.9px;
  color: #484848;
}

.lower-part-text-item-text {
  flex: 1;
}
.lower-part-text-item-img {
  width: 25px;
  height: auto;
}
.lower-part-text-item-img img {
  width: 100%;
}
.folder-content-body {
  height: 530px;
  width: 1300px;
  display: flex;
  gap: 15px;
}
.folder-content-body-info-container {
  background-size: contain;
  background-repeat: no-repeat;
  flex: 9;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 30px 0 30px 20px;
  border: #ae88ad 2px solid;
  margin-right: 10px;
  border-radius: 50px;
}
.folder-content-body-info-container-title {
  font-family: Unbounded;
  font-weight: 600;
  font-size: 19px;
  line-height: 24px;
  color: #ae88ad;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.folder-content-body-img {
  flex: 9;
  border-radius: 23.58px;
  overflow: hidden;
}
.folder-content-body-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.folder-content-body-info-container-text {
  width: 85%;
  font-family: Steppe;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #484848;
}
.folder-content-body-info-container-text.p1 {
  font-family: SteppeBold;
}
.folder-content-body-info-studying {
  flex: 11;
  margin-left: 10px;
}
.expanded-folder-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.expanded-folder-content-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.expanded-folder-content-body-list-items {
  display: flex;
  gap: 60px;
  margin: 20px 0 40px;
}
.expanded-folder-content-body-item {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: Steppe;
  font-weight: 600;
  color: #484848;
  font-size: 16px;
  line-height: normal;
  width: 100%;
  padding: 10px;
  border-radius: 25px;
  text-align: start;
  white-space: pre-wrap;
}
.expanded-folder-content-body-item::before {
  content: "";
  display: block;
  width: 40px;
  height: 5px;
  background-color: #ae88ad;
  margin-bottom: 10px;
}
.expanded-folder-content-body-item span {
  font-family: SteppeBold;
}
.expanded-folder-content-body-info-container {
  display: flex;
  gap: 60px;
  min-height: 120px;
  padding: 20px 100px;
}
.expanded-folder-content-extra-container {
  flex: 1;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 100%;
  border-radius: 20px;
  padding: 10px 30px;
  background-color: #fce696;
  font-family: Steppe;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #484848;
}
.expanded-folder-content-extra-container span {
  font-family: SteppeBold;
}
.expanded-folder-content-body-info {
  flex: 1;
  background: linear-gradient(203.69deg, #f1e5d6 -1.72%, #bfa2c1 102.31%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  font-family: Unbounded;
  font-weight: 600;
  font-size: 13px;
  color: #ffffff;
  border-radius: 20px;
}
.expanded-folder-content-body-info-btn-container {
  width: 220px;
}
.expanded-folder-content-body-info-btn {
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  font-family: Unbounded;
  font-weight: 600;
  font-size: 13px;
  line-height: normal;
  color: #484848;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  border: none;
  color: #484848cf;
  cursor: pointer;
  text-decoration: underline;
}
.expanded-folder-content-body-info-btn:hover {
  background-color: #f2f2f2;
  .expanded-folder-btn-arrow {
    transform: translateX(2px);
  }
}
.expanded-folder-btn-arrow {
  width: 20px;
  height: 20px;
  transition: all 0.3s ease;
}
.expanded-folder-content-body-img {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.expanded-folder-content-body-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 25px;
}
.expanded-folder-content-body-info-text {
  display: flex;
  gap: 4px;
  flex-direction: column;
}
@media (max-width: 768px) {
  .expanded-folder-content {
    height: auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .expanded-folder-content-title {
    font-size: 19px;
    line-height: 25px;
    text-align: center;
  }
  .expanded-folder-content-body {
    max-height: auto;
  }
  .expanded-folder-content-body-list-items {
    flex-direction: column;
    height: auto;
    gap: 10px;
    margin: 10px 0;
  }
  .expanded-folder-content-body-item {
    font-size: 14px;
    max-width: auto;
    width: 100%;
    text-align: center;
    /* padding: 10px 20px; */
  }
  .expanded-folder-content-body-item::before {
    margin: 0 auto 10px;
  }
  .expanded-folder-content-body-info-container {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: auto;
    min-height: auto;
    padding: 0;
  }
  .expanded-folder-content-extra-container {
    position: static;
    width: 100%;
    padding: 10px;
    line-height: normal;
    border-radius: 20px;
    height: auto;
    font-size: 13px;
    margin-top: 10px;
  }
  .expanded-folder-content-body-info {
    padding: 10px;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
  .expanded-folder-content-body-info-text {
    display: flex;
    gap: 3px;
    flex-direction: column;
    padding-bottom: 10px;
  }
  .expanded-folder-content-body-info-text-item {
    font-size: 11px;
  }
  .expanded-folder-content-body-info-btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .expanded-folder-content-body-info-btn {
    padding: 5px;
    font-size: 12px;
    width: 60%;
    padding: 5px 15px;
  }
  .expanded-folder-content-body-img {
    padding: 10px;
  }
  /* .expanded-folder-content-container {
    background-image: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
  }
  .expanded-folder-content {
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .expanded-folder-content-title {
    font-size: 19px;
    line-height: 25px;
    text-align: center;
  }
  .expanded-folder-content-body {
    height: auto;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    max-height: auto;
  }
  .expanded-folder-content-container {
    padding: 0 20px;
  }
  .expanded-folder-content-body-list-items {
    flex-direction: column;
    height: auto;
    gap: 10px;
  }
  .expanded-folder-content-body-item {
    font-size: 14px;
  }
  .expanded-folder-content-body-item::before {
    margin: 0 auto 10px;
  }
  .expanded-folder-content-body-info-container {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: auto;
    min-height: auto;
    padding: 0;
  }
  .expanded-folder-content-body-info {
    padding: 10px;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
  .expanded-folder-content-body-info-text {
    display: flex;
    gap: 3px;
    flex-direction: column;
    padding-bottom: 10px;
  }
  .expanded-folder-content-body-info-text-item {
    font-size: 11px;
  }
  .expanded-folder-content-body-info-btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .expanded-folder-content-body-info-btn {
    padding: 5px;
    font-size: 12px;
    width: 60%;
    padding: 5px 15px;
  }

  .lower-part-text-item {
    gap: 10px;
    font-size: 11px;
    padding: 0;
    line-height: normal;
    hyphens: auto;
  }
  .lower-part-text-item-img {
    width: 20px;
    height: auto;
  }
  .body-left-lower-part-body-left {
    flex: 10;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .body-left-lower-part-body-right-text {
    flex: 9;
  }
  .expanded-folder-content-body-right {
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .expanded-folder-content-extra-container {
    position: static;
    width: 100%;
    padding: 10px;
    line-height: normal;
    border-radius: 20px;
    height: auto;
    font-size: 13px;
    margin-top: 10px;
  } */
}
