.table-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  height: auto;
  padding: 60px 140px;
}
.table-container-title {
  font-family: Unbounded;
  font-weight: 800;
  font-size: 33px;
  align-content: flex-start;
  text-transform: uppercase;
  color: #484848;
  padding-left: 70px;
}
.table-container-title span {
  color: #ffffff;
}
@media (max-width: 768px) {
  .table-container {
    padding: 40px 0px 20px;
  }
  .table-container-title {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    padding-left: 0;
  }
}
