.table-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  height: auto;
  padding: 60px 140px;
}
.table-container-title {
  font-family: Unbounded;
  font-weight: 800;
  font-size: 33px;
  align-content: flex-start;
  text-transform: uppercase;
  color: #484848;
  padding-left: 70px;
}
.table-container-title span {
  color: #ffffff;
}
.table-container-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.table-container-button-container p {
  font-family: Unbounded;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #484848;
}
.table-container-button-container-icon {
  width: 30px;
  height: 30px;
  color: #484848;
}
.table-container-button {
  font-family: Unbounded;
  border-radius: 55px;
  padding: 10px 20px;
  /* padding-top: 13px; */
  background: #ae88ad;
  border: none;
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  /* align-self: flex-start; */
  cursor: pointer;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .table-container {
    padding: 40px 0px 20px;
  }
  .table-container-title {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    padding-left: 0;
  }
  .table-container-button-container {
    flex-direction: column;
    gap: 10px;
  }
  .table-container-button-container p {
    font-size: 14px;
    line-height: 20px;
  }
  .table-container-button-container-icon {
    width: 20px;
    height: 20px;
  }
  .table-container-button {
    font-size: 12px;
    line-height: 16px;
    padding: 8px 16px;
  }
}
